FileContentIndex
[Bb]in/
[Oo]bj/
[Tt]emp/
[Tt]emp[0-9]*/
[Vv]iew[Ss]tate/
*.dbmdl
*.dbproj.schemaview
*.pfx
*.user
*.suo
*.cache
*.vspscc
*.vscode/
.vs201*
*.sln.docstates
*.log
*.config.user
packages/
*.nupkg
Thumbs.db
[Dd]esktop.ini
*.DS_Store
[Rr]elease/
[Dd]ebug/
*.[Bb]ak
*.[Ll]og
